@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --color-primary: #6c9bcf;
  --color-danger: #ff0060;
  --color-success: #1b9c85;
  --color-warning: #f7d060;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --color-green: #98ff21;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 0.88rem;
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
  background-color: var(--color-background);
}

a {
  color: var(--color-dark);
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

h1 {
  font-weight: 800;
  font-size: 2.2rem;
}

h2 {
  font-weight: 800;
  font-size: 1.8rem;
}

h3 {
  font-weight: 500;
  font-size: 0.97rem;
}

small {
  font-size: 0.76rem;
}

p {
  color: var(--color-dark-variant);
  font-size: 1rem;
}

b {
  color: var(--color-dark);
}

.text-muted {
  color: var(--color-info-dark);
}

.primary {
  color: var(--color-primary);
}

.danger {
  color: var(--color-danger);
}

.success {
  color: var(--color-success);
}

.warning {
  color: var(--color-warning);
}

::-webkit-scrollbar {
  width: 0px;
}

.navbar {
  background-color: var(--color-dark);
  border-radius: var(--border-radius-1);
  box-shadow: var(--box-shadow);
  padding: 10px;
}

.collapse ul {
  gap: 25px;
  padding-left: 780px;
}

.collapse ul li a {
  color: var(--color-info-dark);
  font-weight: 500;
  font-size: 15px;
}

.collapse ul li a:hover {
  color: var(--color-danger);
}

.navbar-brand {
  font-weight: 600;
  color: var(--color-dark);
}

.navbar-brand:hover {
  color: var(--color-dark);
  cursor: pointer;
}

.actives {
  color: var(--color-danger) !important;
}

.row1 {
  height: 90vh;
}

.col1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.col1 .introduction {
  padding: 50px;
  height: 50vh;
  width: 65vh;
  box-shadow: var(--box-shadow);
  border-radius: var(--card-border-radius);
}

.col1 p {
  padding-bottom: 50px;
}

.col1 .button .Contactbtn {
  height: 5vh;
  width: 12vh;
  border-radius: var(--border-radius-1);
  box-shadow: var(--box-shadow);
  background-color: var(--color-dark);
  color: var(--color-white);
}

.col1 .button .Skillsbtn {
  height: 5vh;
  width: 15vh;
  border-radius: var(--border-radius-1);
  box-shadow: var(--box-shadow);
  background-color: var(--color-danger);
  color: var(--color-white);
}

.col2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col2 img {
  border-radius: 50%;
  height: 50vh;
  width: 50vh;
  box-shadow: var(--box-shadow);
}

.col1 h1 {
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 2s steps(26, end), blink-caret 1s step-end 2s;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 400px;
  }
}

@-webkit-keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

@media (max-width: 1024px) {
  .collapse ul {
    gap: 25px;
    padding-left: 420px;
  }
}

.row2 {
  background-color: black;
  height: 90vh;
  border-radius: var(--border-radius-2);
}

.row2 .row2col1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row2 .row2col1 img {
  height: 60vh;
  width: 50vh;
  border-radius: 50%;
}

.row2 .skillsdescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  color: var(--color-white);
}
.row2 .skillsdescription p {
  color: var(--color-info-dark);
  padding-bottom: 20px;
}

.row2 .language {
  display: flex;
  gap: 20px;
}

.row2 .language .languagecard {
  border: 1px solid var(--color-white);
  text-align: center;
  font-size: 15px;
  border-radius: var(--card-border-radius);
  width: 10vh;
  padding: 5px;
}

.row2 .language .languagecard.php {
  background-color: #777bb4 !important;
}

.row2 .language .languagecard.html {
  background-color: #e34f26 !important;
}

.row2 .language .languagecard.css {
  background-color: #1572b6 !important;
}

.row2 .language .languagecard.js {
  background-color: #f7df1e !important;
}

.row3 {
  height: 100vh;
}

.row3 h1 {
  text-align: center;
  padding-top: 100px;
}

.row3 .timeline {
  position: relative;
  max-width: 1000px;
  margin: auto;
}

.row3 .timeline::before {
  content: "";
  position: absolute;
  width: 4px;
  background-color: var(--color-dark);
  content: "";
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 50%;
  margin-left: -2px;
}

.start-dot {
  position: absolute;
  width: 20px;
  height: 20px;
  background: var(--color-dark);
  border-radius: 50%;
  left: 50%;
  top: 0;
  margin-left: -10px;
}

.event {
  position: relative;
  background: white;
  width: 45%;
  padding: 20px;
  border-radius: var(--card-border-radius);
  margin: 20px 0;
  box-shadow: var(--box-shadow);
}

.event p {
  font-size: 0.8rem;
}

.event.left {
  left: 0;
}

.event.right {
  left: 55%;
}

.event::after {
  content: "";
  position: absolute;
  top: 20px;
  border: solid transparent;
  border-width: 10px;
}

.event.left::after {
  left: 100%;
  border-left-color: var(--color-white);
  border-right-color: transparent;
  box-shadow: var(--box-shadow);
  margin-top: 10px;
}

.event.right::after {
  left: -20px;
  border-right-color: var(--color-white);
  border-left-color: transparent;
  box-shadow: var(--box-shadow);
  margin-top: 10px;
}

.row4 {
  height: 50vh;
}

.row4 .contactcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.row4 .contactinfo {
  background-color: var(--color-white);
  height: 10vh;
  width: 50vh;
  box-shadow: var(--box-shadow);
  border-radius: var(--card-border-radius);
  padding: 30px;
}

.row4 .contactinfo .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 30px;
}
